## Random Team Pick Generator

In [99]:
import pandas as pd
import random

In [109]:
# create list of players to shuffle
players = ['Ben','Cole','Dylan','Brennan','Tyler','Johnny Vodka','Luke D','Luna']

# shuffle the players list for the first time
random.shuffle(players)

#create df with order placement
df = pd.DataFrame({'Order':['1','2','3','4','5','6','7','8']})

# create new column in df with shuffled players
df['Shuffle'] = players

# shuffle the players list for the second time
random.shuffle(players)

# create new column in df with shuffled players
df['Second Shuffle'] = players

# shuffle the players list for the third and final time
random.shuffle(players)

# create new column in df with shuffled players
df['Third Shuffle'] = players

# print out orders
print(df)

  Order       Shuffle
0     1  Johnny Vodka
1     2           Ben
2     3       Brennan
3     4        Luke D
4     5         Dylan
5     6         Tyler
6     7          Cole
7     8          Luna

In [108]:
final_draw_df = df.drop(columns=['Shuffle', 'Second Shuffle'])
final_draw_df.reset_index(drop=True,)

  Order Third Shuffle
0     1           Ben
1     2         Dylan
2     3       Brennan
3     4          Luna
4     5         Tyler
5     6        Luke D
6     7          Cole
7     8  Johnny Vodka